# Use the local Docker MongoDB container during development.
MONGODB_URI=mongodb://127.0.0.1:27017/smartcampus

# Use MongoDB Atlas instead of the local container when needed.
# Example:
# MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-name>.mongodb.net/smartcampus?retryWrites=true&w=majority&appName=smart-campus

GOOGLE_CLIENT_IDS=your-google-web-client-id.apps.googleusercontent.com
